<ion-view view-title="{{attendee.name}}">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="pullRefresh()">
        </ion-refresher>
        <div class="attendee-img-div row circleBase" style="background-image:url('{{attendee.img.src}}');">
        </div>
        <div class="attendee-info">
            <h3>{{attendee.name}}</h3>
        </div>

        <div class="status-div row">
            <div ng-class="attendee.status == 'Inactive' ? 'inactive ion-alert-circled' : 'active ion-checkmark-circled'" class="col"></div>
            <div class="col status">
                {{attendee.status}}
            </div>
        </div>
        <div class="row">
            <div ng-if="attendee.status == 'Inactive'" class="reactive-msg col">Please Reactivate Account</div>
        </div>

    </ion-content>
    <ion-footer-bar class="custom-footer-bar">
            <button class="button col button-dark" ng-click="addToEvent()"
                    ng-if="!attending && attendee.status != 'Inactive'">Add to Event</button>
            <button class="button col disabled" ng-if="attending">Attending Event</button>
        <button class="button col button-dark" ng-click="goBack()"
                ng-if="!attending && attendee.status == 'Inactive'">Return to Event</button>
    </ion-footer-bar>
</ion-view>
