<ion-view view-title="Events" hide-back-button="true">
    <ion-nav-title>
        <img class="nav-bar-img" ng-src="img/logo.png" />
    </ion-nav-title>
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="pullRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-repeat="event in events"
                      ui-sref="tab.event-detail({eventId:event.id})">

                <div class="row">
                    <div class="col event-date-col">
                        <div class="events-month">{{event.date | date: 'MMM'}}</div>
                        <div class="events-date">{{event.date | date: 'd'}}</div>
                    </div>
                    <div class="col col-80">
                        <h2>{{event.name}}</h2>
                        <p>{{event.description | htmlToPlainText}}</p>
                    </div>
                </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
