/* Custom CSS
 * Author: Abdullah Rasheed
 */

/*
 * Global CSS
 */
body {
    color: #47494d;
}
.bar.bar-dark{
    background:#231f20;
}
.custom-footer-bar{
    height: 70px;
}

/*
 * Attendee CSS
 */
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    border: 10px solid #f8f8f8;
}

.attendee-img-div {
    width: 300px;
    height: 300px;
    background-size: 100%;
    margin: 15px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.attendee-info {
    text-align: center;
}
.reactive-msg {
    display: block;
    text-align: center;
    font-size: 18px;
}
.active, .inactive {
    font-size: 24px;
    text-transform: Capitalize;
    vertical-align: top;
    line-height: 40px;
    text-align: right;
}
.ion-alert-circled:before{
    color: #e74c3c;
    font-size: 50px;
}

.ion-checkmark-circled:before {
    color: #2ecc71;
    font-size: 50px;
}

.icon-member-status{
    font-size: 40px;
}
.status {
    text-align: left;
    border-right: 1px solid #f8f8f8;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 48px;
    margin-right: 10px;
    padding-right: 17px;
}
#empty-event {
    background-image: url('../img/no-attendees-default.png');
    width: 100%;
    height: 370px;
    background-position: center 30px;
    background-repeat: no-repeat;
    background-size: 70%;
}
/*
 * Event CSS
 */

.content-body{
    padding: 15px;
}
.content-body h2{
    text-align: center;
}
#event-img{
    height: 210px;
    background-position: center top;
    background-size: cover;
}
.event-name {
    font-size: 15px;
    color: #47494d;
    padding: 20px;
}
.event-time, .event-price {
    border-left: 1px solid #f5eee5;
    color: #47494d;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}
.event-date {
    color: #47494d;
    text-align: center;
}
.event-price{
    font-size: 20px;
}

.month {
    font-size: 20px;
    height: 30px;
    text-transform: uppercase;
}

.day {
    font-size: 47px;
}
.event-info-row {
    margin-bottom: 10px;
    border-top: 1px solid #f5eee5;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5eee5;
}
.events-month {
    text-transform: uppercase;
    font-size: 17px;
}
.events-date {
    font-size: 31px;
}
.event-date-col {
    margin-right: 7px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}
/*
 * Form Styling
 */
.error-container {
    margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    vertical-align: middle;
}

.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}

.last-error-container > .error {
    padding: 10px 16px 0;
}

.has-errors {
    border-bottom: 3px solid #B83E2C;
}

.no-errors {
    border-bottom: 3px solid green;
}

/*Login Alert*/
.login-alert .popup-head {
    background-color: #444;
}

.login-alert .popup-title {
    color: #fff;
}

.login-alert .popup-body span {
    text-align: center;
    display: block;
    font-size: .75em;
}

#login-header {
    background-color: #231f20;
    height: 230px;
    padding-top: 100px;
}
#podio-img {
    width: 40%;
    margin: 20px auto;
    display: block;
}

.input-label {
    width: 20%;
}
.input-label i.icon {
    font-size: 20px;
}
.login-button {
    background-color: #e35654;
    border-color: #e35654;
    color: #fff;
}
.nav-bar-img{
    display: block;
    height: auto;
    margin: 5px auto 5px auto;
    width: 70%;
}
.inactive.ion-alert-circled:before,.active.ion-alert-circled:before{
    vertical-align: middle;
}